<!DOCTYPE html>
<html ng-app="sampleApp">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" crossorigin="anonymous"></script>
        <script src="https://code.angularjs.org/snapshot/angular.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
        <script type="text/javascript" src="/js/trace.js"></script>
        <link rel="stylesheet" href="/css/main.css" crossorigin="anonymous">
        
    </head>
    <body>
        <div>
            To jest przed
        </div>
        <div>
            <div class="traceUp">
                <span class="traceStart"></span>
                <div class="traceLineTop">
                    <div class="traceElement traceRequest teBorderColor tePolicy  teBasicAuth1"></div>

                    <div class="traceElement traceRequest teBorderColor teCircle"></div>

                    <div class="traceElement traceRequest teBorderColor tePolicy teBasicAuth2"></div>

                    <div class="traceElement traceRequest teBorderColor teFlow"></div>
                    <div class="traceElement traceRequest teBorderColor teFlowSmall"></div>
                    
                    <div class="traceElement traceRequest teBorderColor tePolicy teBasicAuth3"></div>
                    <div class="traceElement traceRequest teBorderColor teFlowSmall"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth4"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth5"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth6"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth7"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth8"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth9"></div>

                    <div class="traceElement traceRequest tePolicy teBasicAuth10"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth11"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth12"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth13"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth14"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth15"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth16"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth17"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth18"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth19"></div>

                    <div class="traceElement traceRequest tePolicy teBasicAuth20"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth21"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth22"></div>
                    <div class="traceElement traceRequest tePolicy teBasicAuth23"></div>
                    
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="traceBottom">
                <span class="traceTarget"></span>
                <div class="traceLineBottom">
                    <div class="traceElement traceResponse tePolicy teBasicAuth1"></div>
                    <div class="traceElement traceResponse teCircle"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth2"></div>
                    <div class="traceElement traceResponse teFlow"></div>
                    <div class="traceElement traceResponse teFlowSmall"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth3"></div>
                    <div class="traceElement traceResponse teFlowSmall"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth4"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth5"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth6"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth7"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth8"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth9"></div>

                    <div class="traceElement traceResponse tePolicy teBasicAuth10"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth11"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth12"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth13"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth14"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth15"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth16"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth17"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth18"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth19"></div>

                    <div class="traceElement traceResponse tePolicy teBasicAuth20"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth21"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth22"></div>
                    <div class="traceElement traceResponse tePolicy teBasicAuth23"></div>
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>
        TEST2
        <div ng-controller="TraceController">
            <ul class="list-group" role="group">
                <span ng-repeat="(key, value) in allPoints" ng-class="['list-group-item',allPoints[key].visible?'active':'']" style="cursor: pointer; width: 200px; float: left" ng-model="allPoints[key].visible" ng-click="allPoints[key].visible=!allPoints[key].visible">{{key}}</span>
            </ul>
            <div style="clear: both"></div>
            <div class="traceUp">
                <span class="traceStart"></span>
                <div class="traceLineTop">
                    <span ng-class="['traceElement','traceRequest','teBorderColor',setClass(step)]" 
                          ng-repeat="step in traceDataToShow.request" 
                          ng-show="showItem(step)" 
                          ng-click="selectItem($event,step)"
                          >
                        <span>{{getTextFromStep(step)}}</span>                        
                    </span>
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="traceBottom">
                <span class="traceTarget"></span>
                <div class="traceLineBottom">
                    <span ng-class="['traceElement','traceResponse','teBorderColor',setClass(step)]" ng-repeat="step in traceDataToShow.response" ng-show="showItem(step)" ng-click="selectItem($event,step)"><span>{{getTextFromStep(step)}}</span></span>
<!--                    <span class="traceElement traceResponse teBorderColor" ng-repeat="step in traceDataToShow.response" ng-click="selectItem($event,step)"></span>-->
                    <div style="clear: both"></div>
                </div>
                <div style="clear: both"></div>
            </div>
            <div>
                <h4></h4>
                <div class="card">
                    <div class="card-header">{{selectedStep.id}} <span ng-show="selectedStep.DebugInfo!=null">{{selectedStep.DebugInfo.Timestamp}}</span></div>
                    <div class="card-body">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="variables" data-toggle="tab" href="#variablesInfoTab" role="tab" aria-controls="variablesInfoTab" aria-selected="true">Variables</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="debug" data-toggle="tab" href="#debugInfoTab" role="tab" aria-controls="debugInfoTab" aria-selected="true">Debug info</a>
                            </li>
                        </ul>
                        <div class="tab-content mt-1" id="myTabContent">
                            <div class="tab-pane fade show active" id="variablesInfoTab" role="tabpanel" aria-labelledby="home-tab">
                                <div class="card">
                                    <div class="card-header">Variables</div>
                                    <div class="card-body">
                                        <h6>GET</h6>
                                        <table class="table table-sm table-striped">
                                            <tr ng-repeat="variable in selectedStep.VariableAccess.Get">
                                                <th>{{variable.name}}</th>
                                                <td>&nbsp;</td>
                                                <td>{{variable.value}}</td>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </table>
                                        <h6>SET</h6>
                                        <div ng-show="selectedStep.VariableAccess.Set!=null">
                                            <table class="table table-sm table-striped">
                                                <tr>
                                                    <th>{{selectedStep.VariableAccess.Set.name}}</th>
                                                    <td>{{selectedStep.VariableAccess.Set.value}}</td>
                                                    <td>{{selectedStep.VariableAccess.Set.success}}</td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="debugInfoTab" role="tabpanel" aria-labelledby="home-tab" >
                                <div class="card">
                                    <div class="card-header">
                                        Debug Info
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-sm table-striped">
                                            <tr ng-repeat="debugInfo in selectedStep.DebugInfo.Properties.Property">
                                                <th>{{debugInfo.name}}</th>
                                                <td>{{debugInfo.text}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card" ng-show="selectedStep.RequestMessage!=null">
                            <div class="card-header">Request</div>
                            <div class="card-body">
                                <div class="alert alert-primary">
                                    <span>{{selectedStep.RequestMessage.Verb}}</span>
                                    <span>{{selectedStep.RequestMessage.URI}}</span>
                                </div>
                                <div class="card" ng-show="selectedStep.RequestMessage.Headers!=null && selectedStep.RequestMessage.Headers.Header.length>0">
                                    <div class="card-header">
                                        Request Headers
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-sm table-striped">
                                            <tr ng-repeat="header in selectedStep.RequestMessage.Headers.Header">
                                                <th>{{header.name}}</th>
                                                <td>{{header.text}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" ng-show="selectedStep.ResponseMessage!=null">
                            <div class="card-header">Response</div>
                            <div class="card-body">
                                <div class="alert alert-primary">
                                    <span>{{selectedStep.ResponseMessage.ReasonPhrase}}</span>
                                    <span>{{selectedStep.ResponseMessage.StatusCode}}</span>
                                </div>
                                <div class="card" ng-show="selectedStep.ResponseMessage.Headers!=null && selectedStep.ResponseMessage.Headers.Header.length>0">
                                    <div class="card-header">
                                        Header
                                    </div>
                                    <div class="card-body">
                                        <table class="table table-sm table-striped">
                                            <tr ng-repeat="header in selectedStep.ResponseMessage.Headers.Header">
                                                <th>{{header.name}}</th>
                                                <td>{{header.text}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            !!!SELECTED STEP
            <div><pre>{{selectedStep|json}}</pre></div>
            !!!REQUEST
            <div><pre>{{traceDataToShow.request|json}}</pre></div>
            !!!RESPONSE
            <div><pre>{{traceDataToShow.response|json}}</pre></div>
        </div>        
    </body>
</html>
